 <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Fundacion Jacinto Vasquez</h1>
        <h1 class=" text-primary" style="color: #F05F40;">Charlas y conferencias</h1>
        <p class="lead text-muted"></p>
        <p>La fundacion Dr. Jacinto Vasquez ademas de educar y ayudar, imparte charlas acerca de las drogas para prevenir el consumo, distribucion y venta de substancias prohibidas las cuales son dañinas al cuerpo humano y a la sociedad</p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card card-images">
            <%= image_tag("charlas/iglesia.jpg", class:"img-responsive") %>
            <p class="card-text">Charla conferencia sobre los valores humanos</p>
          </div>
          <div class="card card-images">
            <%= image_tag("charlas/cristiana.jpg", class:"img-responsive") %>
            <p class="card-text">Charla conferencia sobre la responsabilida de los padres con su familia</p>
          </div>
          <div class="card card-images">
            <%= image_tag("charlas/entregamuchos.jpg", class:"img-responsive") %>
            <p class="card-text">Entrega de libros de educacion acerca de las drogas y sus consecuencias funestas para la sociedad</p>
          </div>

          <div class="card card-images">
            <%= image_tag("charlas/pastor.jpg", class:"img-responsive") %>
            <p class="card-text">Charla educacion juvenil</p>
          </div>
          <div class="card card-images">
            <%= image_tag("generales/saludando.jpg", class:"img-responsive") %>
            <p class="card-text">Saludando al cabo de una exitosa conferencia</p>
          </div>
          <div class="card card-images">
            <%= image_tag("charlas/iglesia2.jpg", class:"img-responsive") %>
            <p class="card-text">Este libro acerca del narcotrafico lo utilizamos para charlas y conferencias ya que educa y expone la triste realidad del mundo de las drogas</p>
          </div>

          <div class="card card-images">
            <%= image_tag("charlas/mostrandolibro.jpg", class:"img-responsive") %>
            <p class="card-text">Entrega de libros en iglesia</p>
          </div>
          <div class="card card-images">
            <%= image_tag("charlas/evangelica.jpg", class:"img-responsive") %>
            <p class="card-text">Retiro juvenil</p>
          </div>
          <div class="card card-images">
            <%= image_tag("generales/lucrecia.jpg", class:"img-responsive") %>
            <p class="card-text">Entregando CD charlas grabadas</p>
          </div>
        </div>

      </div>
    </div>