

<div class="container">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de Belleza <span class="text-muted">y uñas acrilicas</span></h2>
      <br>
      <p class="lead">Este curso ha sido dado a jovenes para capacitarlas en el area de belleza y uñas acrilicas con la idea de que puedan conseguir empleo en el area o instalar su propio negocio y que se conviertan en microempresarias</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("charlas/iglesia.jpg", class:"img-responsive") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de Construccion, instalacion <span class="text-muted">y reparacion de inversores</span></h2>
      <br>
      <p class="lead">En este curso enseñamos a los jovenes a construir, reparar e instalar inversores. En un curso muy importante ya que se capacitan de manera independiente podiendo emprender su propio negocio</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de farmacia <span class="text-muted"></span></h2>
      <br>
      <p class="lead">En este curso se les enseña a los jovenes el mundo de la medicina y sobretodo se les enseña a trabajar en farmacias y en los laboratorios.  Tambien se les ensena el lenguaje tecnico de la farmacia asi como relaciones humanas y relaciones publicas</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de Reposteria <span class="text-muted"> y panaderia</span></h2>
      <br>
      <p class="lead">El curso de reposteria y panaderia consiste en dar a conocer las multiples facetas y la magia de la harina aprendiendo a ser biscochos, pizza, pan de agua pan sobao etc... A la misma vez se le ensena a comercializar dichos productos y hacer dulces negocios</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de Reparacion, Desbloqueo  <span class="text-muted">y Programacion de Celulares</span></h2>
      <br>
      <p class="lead">En este curso la metodologia que seguimos es un adiestramiento a base de teoria y practica para que el joven se haga tecnico en dicha area.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de Ventas y Negocios<span class="text-muted"></span></h2>
      <br>
      <p class="lead">En este curso lo que buscamos es que el joven despierte ese potencial comercial que cada persona lleva dentro de si y que por timidez deja de truifar por temor a fracasar.  En esta charla conferencia ensenamos al joven los principales elementos que se unsan en la venta y a la vez les ensenamos las multiples facetas de la actividad comercial.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <%= image_tag("cursos/", class:"img-responsive") %>
      <h2 class="featurette-heading">Curso de Etiqueta y Protocolo <span class="text-muted"></span></h2><br>
      <p class="lead">En esta oportunidad ensenamos a los jovenes las formas correctas de vestir, de comportarse en un comedor y en sentido general como manejarse en cada situacion. Tambien hacemos enfasis en la adecuada capacitacion para hablar en publico 
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Secretaria Ejecutiva <span class="text-muted">Computalizada</span></h2><br>
      <p class="lead">En este curso nuestras prioridades son capacitar a nuestras jovenes como secretaria ejecutiva. Entre las areas que se capacita estan el ingles, computadoras, relaciones humanas, relaciones publicas, mecanografia y administracion de una pequena oficina</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <%= image_tag("cursos/", class:"img-responsive") %>
      <h2 class="featurette-heading">Ingles <span class="text-muted"></span></h2><br>
      <p class="lead">Capacitar a nuestros jovenes en el dominio del ingles tales como escritura, lectura, hablar, escuchar y pronunciamiento. Haciendo de estos jovenes personas capacitadas de facil incertamiento laboral</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("cursos/", class:"img-responsive") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Curso de Reparacion de Electrodomesticos <span class="text-muted"></span></h2><br>
      <p class="lead">El objectivo de capacitar estos jovenes en el area de reparacion de electrodomesticos, es porque en nuestros hogares hay multiples equipos electronicos y electrodomesticos que constantemente se estan danando y necesitan su reparacion, y capacitando a nuestros jevenes en esta area tienen un mercado laboral amplio</p>
    </div>
  </div>

  <hr class="featurette-divider">


</div>
