
<header>
    <div class="header-content">
        <div class="header-content-inner">
        <h1 id="homeHeading">Fundacion Jacinto Vasquez</h1>
            <hr>
            <p>Organizacion sin fines de lucro centrada en combatir la pobreza y delincuencia educando y preparando jovenes para el futuro totalmente gratis</p>
            <%= link_to 'Nuestros Projectos', welcomes_futureprojects_path, class: 'btn btn-primary btn-xl' %>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Al servicio de nuestra comunidad</h2>
                <hr class="light">
                <p class="text-faded">La formula para eliminar pobreza y delincuencia no esta en mas policias o mas carceles sino en educando a jovenes para el futuro como dice el refran <mark class="">Ensena al hombre a pescar y comera toda la vida</mark></p>
                <%= link_to 'Conferencias', welcomes_conferences_path, class: 'btn btn-primary btn-xl' %>
            </div>
        </div>
    </div>
</section>

<section  style="padding: 0 0 200px 0;" id="services">

    <video id="bgVideo" autoplay loop muted poster="image.png">
                <source src="assets/graduacion/graduacion.mp4" type="video/mp4">
            </video>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <h2  style="padding-top: 100px;" class="section-heading">Nuestra Mision</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h1>Fomentar el estudo</h1>
                    <p class="text-muted">Capacitar jovenes para convertirlos en micro-empresarios o emprendedores</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h1>Combatir el desempleo</h1>
                    <p class="text-muted">Al capacitar jovenes no solo se proveen de un trabajo dign sino que convirtiendose en micro-empresarios se constituyen en creadores de fuentes de trabajo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h1>Asistir a madres solteras</h1>
                    <p class="text-muted">Contribuyendo a su capacitacion y preparacion para el bienestar familiar</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h1>Projectos Tecnicos</h1>
                    <p class="text-muted">Visita nuestos projectos futuros y como nos puedes ayudar!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark" style="margin-bottom: -10rem;">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Visita nuestra area de graduaciones</h2>
            <%= link_to 'Pulsa aqui', welcomes_graduations_path, class: 'btn btn-primary btn-xl' %>
        </div>
    </div>
</aside>


<section  id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href='https://jacinto.herokuapp.com/welcomes/charityevents' class="portfolio-box">
                    <%= image_tag('reparticion/ninarubia.jpg', width:'100%', height:'350') %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Entrega de Jugetes y utiles escolares
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  href="https://jacinto.herokuapp.com/welcomes/conferences" class="portfolio-box">
                    <img src="assets/charlas/entregamuchos.jpg" width="100%" height="350"alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Entrega de libros
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jacinto.herokuapp.com/welcomes/charityevents" class="portfolio-box">
                    <img src="assets/reparticion/refresco.jpg" max-width="100%" height="350" class="" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Compartiendo una picadera
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jacinto.herokuapp.com/welcomes/graduations" class="portfolio-box">
                    <img src="assets/graduacion/IMG_3529.JPG" max-width="100%" height="350" class="" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Graduacion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jacinto.herokuapp.com/welcomes/graduations" class="portfolio-box">
                    <img src="assets/graduacion/IMG_3451.jpg" max-width="100%" height="350" class="" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Ceremonia de Graduacion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jacinto.herokuapp.com/welcomes/futureprojects" class="portfolio-box">
                    <img src="assets/generales/alfabetizacion2.jpg" width="100%" height="350"  alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Centro de Alfabetizacion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark" style="margin-top: -10rem;">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Visita nuestra area de Donaciones y reparticiones caritativas</h2>
            <%= link_to 'Pulsa aqui', welcomes_charityevents_path, class: 'btn btn-primary btn-xl' %>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xs-12" id="picture-footer">
            <img src="assets/cartel.jpg" width="100%" height="600">
            </div> -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= link_to 'Contacto', welcomes_contact_path(anchor: 'contact') %></h2>
                <hr class="primary">
                <p>Contactanos ahora mismo para que planifiquemos como nos puedes ayudar a realizar los projectos de ayuda y solidadirdad</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>809 303 4794</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:jacintovasquez05@hotmail.com">jacintovasquez05@hotmail.com</a></p>
            </div>

            <div class="text-center">
                <%= link_to 'Mas informacion', welcomes_contact_path(anchor: 'contact'), class: 'btn btn-primary btn-xl' %>
            </div>
        </div>
    </div>
</section>




