<div class="logo pepe">
   <%= link_to image_tag("logo.jpg", class:"img-responsive img-circle pepe pull-left"), root_path %>
</div>
<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Acerca De Nosotros', welcomes_contact_path(anchor: 'fundacion-contacto') %></li>
      <li><%= link_to 'Projectos', welcomes_futureprojects_path %> </li>
      <li><%= link_to 'Contacto', welcomes_contact_path(anchor: 'contact') %></li>
    </ul>
  </nav>
</div>


